body{
  background-color: blueviolet;
}

.title{
  font-size: 50px;
  margin-left: 50px;
  color: black;
}

.side-side{
  display: flex;
  align-items: center;
}

.side-image{
  display: flex;
  width: 800px;
  height: 500px;
  border-radius: 50%;
}

.side-text{
  font-size: 30px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
  width: 400px;
  height: 100px;
  color: beige;
  font-size: 30px;
  background-color: black;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 700px;
  margin-top: 50px;
}

.wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;

}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
  padding: 7px 7px;
}

@media (max-width: 800px) {
  .side-image {
    display: none;
  }
}
