body{
  background-color: blueviolet;
}

div{
  display: flex;
}

.logo{
  width: 400px;
  height: 300px;
  border-radius: 50%;
  /* margin-left: 750px;
  margin-top: 100px; */
}

.portfolio{
  font-size: 50px;
  /* margin-left: 850px; */
  color: bisque;
}

.text-1{
  font-size: 30px;
  /* margin-left: 800px; */
}

.text-2{
  font-size: 30px;
  /* margin-left: 500px; */
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}


button{
  width: 200px;
  height: 70px;
  color: beige;
  font-size: 20px;
  background-color: black;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transition: 0.3s ease-in-out;
}

a {
  text-decoration: none;
} 

button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: scale(1.2);
}

.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 40%;
  flex-direction: column;
  align-items: center;
}
