body{
  background-color: blueviolet;
}

.title{
  font-size: 50px;
  margin-left: 50px;
  color: black;
}

.side-side{
  display: flex;
  align-items: center;
}

.side-image{
  width: 800px;
  height: 500px;
  border-radius: 50%;
}

.side-text{
  font-size: 30px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
  width: 400px;
  height: 100px;
  color: beige;
  font-size: 30px;
  background-color: black;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 700px;
  margin-top: 50px;
}bb b 